:root {
  --basic-font-size: 18px;
  --first-font-color: #070707;
  --second-font-color: #828282;
  --first-font-weight: 700;
  --second-font-weight: 500;
  --first-bgc: #ffffff;
  --second-bgc: #f6f6f6;
}
