<section class="section about" id="about">
  <div class="container about__container">
    <h2 class="site-title about__site-title">About me</h2>
    <p class="about__text">
      Hi, I'm Artem – Junior full stack developer from Khmelnitskyi. I'm
      interested in IT and everything connected with it.
    </p>
    <p class="about__text">
      I'm studying at courses "Full Stack Developer" in GOIT-Academy.
    </p>
    <p class="about__text">
      Ready to implement excellent projects with wonderful people.
    </p>
  </div>
</section>
