<section class="section about" id="about">
  <div class="container about__container">
    <h2 class="site-title about__site-title">About me</h2>
    <p class="about__text">
      Привіт, я Артем – Junior full stack developer з Хмельницького. Я цікавлюся
      IT і всім, що з ним пов'язано.
    </p>
    <p class="about__text">
      Навчався на курсах "Full Stack Developer" в GOIT-Academy.
    </p>
    <p class="about__text">
      Готовий реалізовувати відмінні проекти з чудовими людьми.
    </p>
  </div>
</section>
