<header class="header" id="home">
  <div class="container header__container">
    <nav class="site-nav">
      <ul class="site-nav__list">
        <li class="site-nav__item">
          <a class="site-nav__link" href="#home">Головна</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link" href="#about">Про мене</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link" href="#skills">Навички</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link" href="#portfolio">Портфоліо</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link" href="#contacts">Контакти</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
