<header class="header">
  <div class="container header__container">
    <nav class="site-nav">
      <ul class="site-nav__list">
        <li class="site-nav__item">
          <a class="site-nav__link" href="#home">Home</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link" href="#about">About me</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link" href="#skills">Skills</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link" href="#portfolio">Portfolio</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link" href="#cintacts">Contacts</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
