<section class="section hero">
  <div class="container">
    <h1>Artem Kozlov</h1>
    <p>Junior full stack developer</p>
    <p>32 years old, Ukraine, Khmelnytskyi</p>
    <ul>
      <li><a href="#">Ukr</a></li>
      <li><a href="#">Eng</a></li>
    </ul>

    <button class="menu-burger js-open-menu" type="button">
      <svg width="33" height="20">
        <use href="./images/icons.svg#icon-burger"></use>
      </svg>
    </button>
    <div class="menu-container js-menu-container" id="mobile-menu">
      <button class="menu-toggle js-close-menu">
        <svg width="23" height="23">
          <use href="./images/icons.svg#icon-cross"></use>
        </svg>
      </button>

      <ul class="mobile-menu">
        <li class="mobile-menu__item">
          <a class="mobile-menu__link" href="#home">Home</a>
        </li>
        <li class="mobile-menu__item">
          <a class="mobile-menu__link" href="#about">About me</a>
        </li>
        <li class="mobile-menu__item">
          <a class="mobile-menu__link" href="#skills">Skills</a>
        </li>
        <li class="mobile-menu__item">
          <a class="mobile-menu__link" href="#portfolio">Portfolio</a>
        </li>
        <li class="mobile-menu__item">
          <a class="mobile-menu__link" href="#cintacts">Contacts</a>
        </li>
      </ul>
      <ul class="mobile-lang">
        <li class="mobile-lang__item mobile-lang__item--after">
          <a class="mobile-lang__link mobile-lang__link--current" href="#"
            >Eng</a
          >
        </li>
        <li class="mobile-lang__item">
          <a class="mobile-lang__link" href="#">Ukr</a>
        </li>
      </ul>
    </div>
    <picture
      ><source
        srcset="./images/my-photo-mobile.webp"
        type="image/webp"
        media="(max-width: 767px)"
        width="315" />
      <source
        srcset="./images/my-photo-mobile.jpg"
        type="image/jpg"
        media="(max-width: 767px)"
        width="315" />
      <source
        srcset="./images/my-photo-desktop.webp"
        type="image/webp"
        media="(min-width: 768px)"
        width="940" />
      <source
        srcset="./images/my-photo-desktop.jpg"
        type="image/jpg"
        media="(min-width: 768px)"
        width="940" />
      <img src="./images/my-photo-desktop.jpg" alt="pretty boy"
    /></picture>
  </div>
</section>
