<section class="section hero">
  <div class="container hero__container">
    <div class="content-container">
      <div class="text-container">
        <h1 class="hero__title">Artem<span>Kozlov</span></h1>
        <p class="hero__text">
          Junior full stack developer<br />32 years old, Ukraine, Khmelnytskyi
        </p>

        <ul class="hero__list">
          <li class="hero__item hero__item--after">
            <a class="hero__link" href="#">Ukr</a>
          </li>
          <li class="hero__item">
            <a class="hero__link hero__link--current" href="#">Eng</a>
          </li>
        </ul>
      </div>

      <button class="menu-burger js-open-menu" type="button">
        <svg width="33" height="20">
          <use href="./images/icons.svg#icon-burger"></use>
        </svg>
      </button>
    </div>

    <div class="menu-container js-menu-container" id="mobile-menu">
      <button class="menu-toggle js-close-menu">
        <svg width="23" height="23">
          <use href="./images/icons.svg#icon-cross"></use>
        </svg>
      </button>

      <ul class="mobile-menu">
        <li class="mobile-menu__item">
          <a class="mobile-menu__link js-close-menu" href="#home">Home</a>
        </li>
        <li class="mobile-menu__item">
          <a class="mobile-menu__link js-close-menu" href="#about">About me</a>
        </li>
        <li class="mobile-menu__item">
          <a class="mobile-menu__link js-close-menu" href="#skills">Skills</a>
        </li>
        <li class="mobile-menu__item">
          <a class="mobile-menu__link js-close-menu" href="#portfolio"
            >Portfolio</a
          >
        </li>
        <li class="mobile-menu__item">
          <a class="mobile-menu__link js-close-menu" href="#contacts"
            >Contacts</a
          >
        </li>
      </ul>
      <ul class="mobile-lang">
        <li class="mobile-lang__item mobile-lang__item--after">
          <a class="mobile-lang__link mobile-lang__link--current" href="#"
            >Eng</a
          >
        </li>
        <li class="mobile-lang__item">
          <a class="mobile-lang__link" href="#">Ukr</a>
        </li>
      </ul>
    </div>
    <picture
      ><source
        srcset="./images/my-photo-mobile.webp"
        type="image/webp"
        media="(max-width: 767px)"
        width="315" />
      <source
        srcset="./images/my-photo-mobile.jpg"
        type="image/jpg"
        media="(max-width: 767px)"
        width="315" />
      <source
        srcset="./images/my-photo-desktop.webp"
        type="image/webp"
        media="(min-width: 768px)"
        width="940" />
      <source
        srcset="./images/my-photo-desktop.jpg"
        type="image/jpg"
        media="(min-width: 768px)"
        width="940" />
      <img src="./images/my-photo-desktop.jpg" alt="pretty boy"
    /></picture>
  </div>
</section>
