<section class="section portfolio" id="portfolio">
  <div class="container">
    <h2 class="site-title portfolio__site-title">Portfolio</h2>
    <ul class="portfolio__list autoplay gallery">
      <li class="portfolio__item">
        <a href="./images/portfolio-1@1x.jpg"
          ><img
            class="portrolio__img"
            src="./images/portfolio-1@1x.jpg"
            alt="site finance company"
            width="600"
            height="600"
        /></a>
      </li>
      <li class="portfolio__item">
        <a href="./images/portfolio-2@1x.jpg"
          ><img
            class="portrolio__img"
            src="./images/portfolio-2@1x.jpg"
            alt="site building company"
            width="600"
            height="600"
        /></a>
      </li>
      <li class="portfolio__item">
        <a href="./images/portfolio-3@1x.jpg"
          ><img
            class="portrolio__img"
            src="./images/portfolio-3@1x.jpg"
            alt="site web studio"
            width="600"
            height="600"
        /></a>
      </li>
    </ul>
  </div>
</section>
