<section class="section portfolio" id="portfolio">
  <div class="container">
    <h2 class="site-title portfolio__site-title">Portfolio</h2>
    <ul class="portfolio__list">
      <li class="portfolio__item">
        <a href="#"
          ><img
            src="./images/portfolio-1@1x.jpg"
            alt="site finance company" /></a
        ><a href="#"></a>
      </li>
      <li class="portfolio__item">
        <a href="#"
          ><img
            src="./images/portfolio-2@1x.jpg"
            alt="site building company" /></a
        ><a href="#"></a>
      </li>
      <li class="portfolio__item">
        <a href="#"
          ><img src="./images/portfolio-3@1x.jpg" alt="site web studio" /></a
        ><a href="#"></a>
      </li>
    </ul>
  </div>
</section>
