<section class="section portfolio" id="portfolio">
  <div class="container">
    <h2 class="site-title portfolio__site-title">Портфоліо</h2>
    <ul class="portfolio__list autoplay gallery">
      <li class="portfolio__item">
        <a href="./images/portfolio-1@1x.jpg"
          ><img
            class="portfolio__img"
            src="./images/portfolio-1@1x.jpg"
            alt="site building company"
            width="600"
            height="600"
          />
          <a
            class="portfolio__link"
            href="https://thisnarciss.github.io/HouseVOP/"
            >HouseVOP</a
          >
        </a>
      </li>
      <li class="portfolio__item">
        <a href="./images/portfolio-2@1x.jpg"
          ><img
            class="portfolio__img"
            src="./images/portfolio-2@1x.jpg"
            alt="site web studio"
            width="600"
            height="600"
          />
          <a
            class="portfolio__link"
            href="https://thisnarciss.github.io/goit-markup-hw-08/"
            >Web Studio</a
          >
        </a>
      </li>
      <li class="portfolio__item">
        <a href="./images/portfolio-3@1x.jpg"
          ><img
            class="portfolio__img"
            src="./images/portfolio-3@1x.jpg"
            alt="site finance company"
            width="600"
            height="600"
          />
          <a
            class="portfolio__link"
            href="https://thisnarciss.github.io/finance-lidger-1/"
            >Finance Ledger</a
          >
        </a>
      </li>
    </ul>
  </div>
</section>
