<section>
  <div class="container">
    <h2>Skills</h2>
    <p>I work in such programs as</p>
    <ul>
      <li>
        <svg width="90" height="90"><use href="./images/icons.svg#"></use></svg>
        <p></p>
        <svg width="165" height="26">
          <use href="./images/icons.svg#icon-stars"></use>
        </svg>
      </li>
      <li>
        <svg width="90" height="90"><use href="./images/icons.svg#"></use></svg>
        <p></p>
        <svg width="165" height="26">
          <use href="./images/icons.svg#icon-stars"></use>
        </svg>
      </li>
      <li>
        <svg width="90" height="90"><use href="./images/icons.svg#"></use></svg>
        <p></p>
        <svg width="165" height="26">
          <use href="./images/icons.svg#icon-stars"></use>
        </svg>
      </li>
      <li>
        <svg width="90" height="90"><use href="./images/icons.svg#"></use></svg>
        <p></p>
        <svg width="165" height="26">
          <use href="./images/icons.svg#icon-stars"></use>
        </svg>
      </li>
      <li>
        <svg width="90" height="90"><use href="./images/icons.svg#"></use></svg>
        <p></p>
        <svg width="165" height="26">
          <use href="./images/icons.svg#icon-stars"></use>
        </svg>
      </li>
      <li>
        <svg width="90" height="90"><use href="./images/icons.svg#"></use></svg>
        <p></p>
        <svg width="165" height="26">
          <use href="./images/icons.svg#icon-stars"></use>
        </svg>
      </li>
      <li>
        <svg width="90" height="90"><use href="./images/icons.svg#"></use></svg>
        <p></p>
        <svg width="165" height="26">
          <use href="./images/icons.svg#icon-stars"></use>
        </svg>
      </li>
      <li>
        <svg width="90" height="90"><use href="./images/icons.svg#"></use></svg>
        <p></p>
        <svg width="165" height="26">
          <use href="./images/icons.svg#icon-stars"></use>
        </svg>
      </li>
      <li>
        <svg width="90" height="90"><use href="./images/icons.svg#"></use></svg>
        <p></p>
        <svg width="165" height="26">
          <use href="./images/icons.svg#icon-stars"></use>
        </svg>
      </li>
      <li>
        <svg width="90" height="90"><use href="./images/icons.svg#"></use></svg>
        <p></p>
        <svg width="165" height="26">
          <use href="./images/icons.svg#icon-stars"></use>
        </svg>
      </li>
    </ul>
  </div>
</section>
