<section class="section skills" id="skills">
  <div class="container skills__container">
    <h2 class="site-title skills__site-title">Skills</h2>
    <p class="skills__text">I work in such programs as</p>
    <ul class="skills__list">
      <li class="skills__item">
        <svg class="skills__icon" width="90" height="90">
          <use href="./images/icons.svg#icon-html"></use>
        </svg>
        <p class="skills__label">Html</p>
        <svg width="165" height="26">
          <use href="./images/icons.svg#icon-stars-4"></use>
        </svg>
      </li>
      <li class="skills__item">
        <svg class="skills__icon" width="90" height="90">
          <use href="./images/icons.svg#icon-css"></use>
        </svg>
        <p class="skills__label">Css</p>
        <svg width="165" height="26">
          <use href="./images/icons.svg#icon-stars-4"></use>
        </svg>
      </li>
      <li class="skills__item">
        <svg class="skills__icon" width="90" height="90">
          <use href="./images/icons.svg#icon-sass"></use>
        </svg>
        <p class="skills__label">Sass</p>
        <svg width="165" height="26">
          <use href="./images/icons.svg#icon-stars-4"></use>
        </svg>
      </li>
      <li class="skills__item">
        <svg class="skills__icon" width="90" height="90">
          <use href="./images/icons.svg#icon-bem"></use>
        </svg>
        <p class="skills__label">BEM</p>
        <svg width="165" height="26">
          <use href="./images/icons.svg#icon-stars-4"></use>
        </svg>
      </li>
      <li class="skills__item">
        <svg class="skills__icon" width="90" height="90">
          <use href="./images/icons.svg#icon-javascript"></use>
        </svg>
        <p class="skills__label">JavaScript</p>
        <svg width="165" height="26">
          <use href="./images/icons.svg#icon-stars-4"></use>
        </svg>
      </li>
      <li class="skills__item">
        <svg class="skills__icon" width="90" height="90">
          <use href="./images/icons.svg#icon-react"></use>
        </svg>
        <p class="skills__label">React</p>
        <svg width="165" height="26">
          <use href="./images/icons.svg#icon-stars-4"></use>
        </svg>
      </li>
      <li class="skills__item">
        <svg class="skills__icon" width="90" height="90">
          <use href="./images/icons.svg#icon-react-native"></use>
        </svg>
        <p class="skills__label">React native</p>
        <svg width="165" height="26">
          <use href="./images/icons.svg#icon-stars-3"></use>
        </svg>
      </li>
      <li class="skills__item">
        <svg class="skills__icon" width="90" height="90">
          <use href="./images/icons.svg#icon-nodejs"></use>
        </svg>
        <p class="skills__label">Node js</p>
        <svg width="165" height="26">
          <use href="./images/icons.svg#icon-stars-4"></use>
        </svg>
      </li>
      <li class="skills__item">
        <svg class="skills__icon" width="90" height="90">
          <use href="./images/icons.svg#icon-figma"></use>
        </svg>
        <p class="skills__label">Figma</p>
        <svg width="165" height="26">
          <use href="./images/icons.svg#icon-stars-2"></use>
        </svg>
      </li>
      <li class="skills__item">
        <svg class="skills__icon" width="90" height="90">
          <use href="./images/icons.svg#icon-ps"></use>
        </svg>
        <p class="skills__label">Adobe photoshop</p>
        <svg width="165" height="26">
          <use href="./images/icons.svg#icon-stars-2"></use>
        </svg>
      </li>
    </ul>
  </div>
</section>
