.portfolio {
  background-color: var(--second-bgc);
}
.portfolio__site-title {
  margin-bottom: 50px;
}
.portfolio__list {
  position: relative;
  padding: 0 50px 30px;

  text-align: center;

  .portfolio__img {
    margin: 0 auto;
  }
}

.portfolio__link {
  display: inline-block;

  padding: 10px;

  font-weight: var(--second-font-weight);
  font-size: var(--basic-font-size);
  line-height: 1.22;

  color: var(--second-font-color);

  transition: color 250ms linear, box-shadow 250ms linear;

  &:hover,
  &:focus {
    color: var(--first-font-color);
    box-shadow: inset 0px -3px 0px -1px var(--first-font-color);
  }
}

.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  background-color: inherit;
  padding: 0;

  font-size: 0;
  width: 30px;
  height: 30px;
}
.slick-prev {
  transition: background-image 250ms linear;
  left: 0;
  background-image: url('../images/arrow-left2-grey.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 25px;
  &:hover {
    background-image: url('../images/arrow-left2-black.svg');
  }
}
.slick-next {
  transition: background-image 250ms linear;
  right: 0;
  background-image: url('../images/arrow-right2-grey.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 25px;
  &:hover {
    background-image: url('../images/arrow-right2-black.svg');
  }
}
.slick-dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  align-items: center;
  gap: 5px;

  button {
    transition: opacity 250ms linear;
    font-size: 0;
    background-color: var(--second-font-color);
    border-radius: 50%;
    width: 10px;
    height: 10px;
  }
  button:hover,
  button:focus {
    opacity: 0.3;
  }
}
.slick-active {
  button {
    opacity: 0.3;
  }
}
