.skills__site-title {
  margin-bottom: 70px;
}
.skills__text {
  margin-bottom: 80px;

  font-weight: var(--second-font-weight);
  font-size: var(--base-font-size);
  line-height: 1.22;
  text-align: center;
}
.skills__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.skills__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;

  padding: 10px;

  border: 1px solid #eeeeee;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.skills__label {
  font-weight: var(--first-font-weight);
  font-size: 14px;
  line-height: 1.21;
  text-transform: capitalize;

  color: var(--second-font-color);
}
